<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Pierce McGeough</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kickboxing<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/kickboxing">All</a></li>
            <li><a href="/kickboxing/general">General</a></li>
            <li><a href="/kickboxing/workouts">Workouts</a></li>
            <!-- <li><a href="/kickboxing">Nutrition</a></li> -->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Web Development<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/web-dev">All</a></li>
            <li><a href="/web-dev/blog">Blog</a></li>
            <li><a href="/web-dev/tutorials">Tutorials</a></li>
          </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>