<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				{{ content }}				
			</div>

			<!-- <div class="col-lg-3">
				<div class="well">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro officia error earum assumenda, saepe voluptatum odio nobis suscipit excepturi eius nulla laboriosam facilis quis minus! Corporis voluptas neque quasi, magni ipsa vero ab voluptatem excepturi aperiam est quidem inventore voluptatum dicta aspernatur sint soluta iure possimus aliquid mollitia repellendus dolore ullam quis. Quas adipisci ullam minus aut quia sequi sit vero nulla, praesentium nihil voluptatum, obcaecati placeat expedita. Dicta ipsum ullam ipsa ducimus, expedita dignissimos nihil tempore laboriosam minus deserunt! Quisquam autem, saepe nobis asperiores cumque distinctio aspernatur dolore optio.
					</p>
				</div>
			</div> -->
		</div>
		
		{% include footer.html %}

	</div>

	{% include footer_scripts.html %}
</body>

</html>